Repository microsoft/graph-drilldown: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

.lintstagedrc.json:

{
	"*": ["yarn essex prettify --staged"],
	"*.md": ["yarn essex lint --docs-only"],
	"*.{js,jsx,ts,tsx}": ["yarn essex lint --fix --staged"]
}

Convert last bits of selection to share hook
  packages/webapp/src/pages/GraphViewerPage/components/CommunityList/CommunityList.tsx
  packages/webapp/src/pages/GraphViewerPage/components/CommunityList/hooks/useRowHandling.ts
  packages/webapp/src/pages/GraphViewerPage/components/panels/BreadcrumbPanel.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

React 18 full update
  .pnp.cjs
  .yarn/cache/@types-react-dom-npm-18.0.1-3444453ba7-6c183e2e50.zip
  .yarn/cache/@types-react-dom-npm-18.0.2-9bfae9960a-2b0b138d86.zip
  .yarn/cache/@types-react-npm-18.0.5-ee9b2b1f01-70d3336d43.zip
  .yarn/cache/@types-react-npm-18.0.6-dfd79650e5-368b40176f.zip
  .yarn/cache/react-if-npm-4.1.3-4ca3dee716-296aef4c67.zip
  .yarn/cache/react-if-npm-4.1.4-95583751aa-107ba70562.zip
  package.json
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  packages/webapp/src/index.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Distribute arquero folder
  packages/types/src/vis.ts
  packages/webapp/src/arquero/hooks.ts
  packages/webapp/src/arquero/index.ts
  packages/webapp/src/components/GraphViewer/GraphViewer.hooks.ts
  packages/webapp/src/hooks/communities.ts
  packages/webapp/src/hooks/graph/edges.ts
  packages/webapp/src/hooks/graph/nodes.ts
  packages/webapp/src/hooks/useSelection.ts
  packages/webapp/src/layout/index.ts
  packages/webapp/src/layout/layout.ts
  packages/webapp/src/pages/GraphViewerPage/components/CommunitiesTable/CommunitiesTable.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/CommunitiesTable/CommunitiesTable.tsx
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/NodeColorControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/NodeOpacityControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/NodeSizeControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/legends/EdgeColorHeaderLegend.tsx
  packages/webapp/src/pages/GraphViewerPage/components/legends/EdgeOpacityHeaderLegend.tsx
  packages/webapp/src/pages/GraphViewerPage/components/legends/EdgeSizeHeaderLegend.tsx
  packages/webapp/src/pages/GraphViewerPage/components/legends/NodeColorHeaderLegend.tsx
  packages/webapp/src/pages/GraphViewerPage/components/legends/NodeOpacityHeaderLegend.tsx
  packages/webapp/src/pages/GraphViewerPage/components/legends/NodeSizeHeaderLegend.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CommunityPanel.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Update essex-js-toolkit
  .pnp.cjs
  .yarn/cache/@essex-js-toolkit-hooks-npm-3.1.0-89e4150d45-9000b1b327.zip
  .yarn/cache/@essex-js-toolkit-themed-components-npm-1.4.0-e6d145cfa4-f77c1b52bc.zip
  .yarn/cache/@essex-js-toolkit-toolbox-npm-2.0.3-a6bac96d79-515d7f7ce2.zip
  .yarn/cache/@essex-react-animate-height-npm-2.1.4-2a72cc76fd-6730118efd.zip
  .yarn/cache/@essex-themed-components-npm-2.2.5-6d0c203f83-96493afcec.zip
  .yarn/cache/core-js-npm-3.22.0-9a29e3a96f-88ac28dfb8.zip
  .yarn/cache/react-animate-height-npm-2.0.23-821206c434-280f504b38.zip
  packages/hooks/docs/arquero.api.md
  packages/webapp/package.json
  packages/webapp/src/App/components/Export/ImageSettings.tsx
  packages/webapp/src/App/components/Features.tsx
  packages/webapp/src/App/components/Settings.tsx
  packages/webapp/src/components/LazyCachingSwitch.tsx
  packages/webapp/src/react-patch/themed-components.ts
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

Fix deploy build
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

Changeset
  .github/workflows/docsite.yml
  .yarn/versions/40cc0d7f.yml
Due: yarn essex prettify --staged

Update thematic, remove redundant util
  .pnp.cjs
  .yarn/cache/@thematic-core-npm-2.1.0-5974222ab1-0fd773c343.zip
  .yarn/cache/@thematic-core-npm-2.1.1-2b1fa60461-77d9c82209.zip
  .yarn/cache/@thematic-d3-npm-2.0.8-ef7f479499-78a397d423.zip
  .yarn/cache/@thematic-d3-npm-2.0.9-5744c2ff34-886e23ea8c.zip
  .yarn/cache/@thematic-fluent-npm-3.0.8-f3b9f13dbc-95214f9223.zip
  .yarn/cache/@thematic-fluent-npm-3.0.9-2befbc03c7-1b2d41b223.zip
  .yarn/cache/@thematic-react-npm-2.0.8-08ac7cf27d-8edae6a072.zip
  .yarn/cache/@thematic-react-npm-2.0.9-4ce01daccd-9bcce5fce6.zip
  packages/components/package.json
  packages/components/src/DomainBrush/LegendAxis.tsx
  packages/components/src/thematic/README.md
  packages/components/src/thematic/chooseScale.ts
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

Remove themed-components patch
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.tsx
  packages/webapp/src/react-patch/themed-components.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Changeset
  .yarn/versions/bd7b27a0.yml
Due: yarn essex prettify --staged

add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: yarn essex prettify --staged

docs update
  packages/arquero/docs/arquero.api.md
  packages/arquero/docs/components.api.md
  packages/components/docs/components.api.md
  packages/hooks/docs/arquero.api.md
  packages/hooks/docs/components.api.md
  packages/hooks/docs/hooks.api.md
  packages/types/docs/types.api.md
Due: yarn essex prettify --staged, yarn essex lint --docs-only

use turbo, yarn cache in docsite action
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

push lint task down
  .vscode/settings.json
  packages/arquero/.eslintignore
  packages/arquero/.eslintrc
  packages/arquero/package.json
  packages/components/.eslintignore
  packages/components/.eslintrc
  packages/components/package.json
  packages/hooks/.eslintignore
  packages/hooks/.eslintrc
  packages/hooks/package.json
  packages/types/.eslintignore
  packages/types/.eslintrc
  packages/types/package.json
  packages/webapp/.eslintignore
  packages/webapp/.eslintrc
  packages/webapp/package.json
Due: yarn essex prettify --staged

remove top-level lint task
  package.json
Due: yarn essex prettify --staged

update yarn sdks
  .eslintrc
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  package.json
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/webapp/.eslintrc
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

update yarn
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  packages/types/package.json
  yarn.lock
Due: yarn essex prettify --staged

get ci running
  .spelling
  packages/components/src/ColorSelector/ThematicPalettePicker.tsx
  packages/hooks/docs/hooks.api.md
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

update turbo cache
  turbo.json
Due: yarn essex prettify --staged

update docsite to use bundle command
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

add top-level bundle command
  package.json
Due: yarn essex prettify --staged

list docsite deployed assets
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

use different gh-pages deploy action
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

Update react + fluent
  package.json
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/docs/hooks.api.md
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  packages/webapp/src/index.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

Update ts
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/prettier/index.js
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  package.json
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Update various minor deps
  package.json
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Update arquero
  packages/arquero/package.json
  packages/components/package.json
  packages/types/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Swap in @essex/components
  packages/webapp/package.json
  packages/webapp/src/App/components/Export/ImageSettings.tsx
  packages/webapp/src/App/components/Features.tsx
  packages/webapp/src/App/components/Settings.tsx
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Bump remaining essex toolkit updates
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Fix HashRouter parsing goofiness
  packages/webapp/src/query.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Swap in datashaper components and use border-box
  package.json
  packages/components/package.json
  packages/components/src/HeaderLegend/Dots.tsx
  packages/components/src/HeaderLegend/HeaderLegend.tsx
  packages/hooks/package.json
  packages/webapp/package.json
  packages/webapp/src/App/StyleContext.tsx
  packages/webapp/src/components/FileDrop/FileDrop.tsx
  packages/webapp/src/components/QuickDrop/QuickDrop.tsx
  packages/webapp/src/hooks/files.ts
  packages/webapp/src/pages/DataManagerPage/components/MainPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/CommunitiesTable/CommunitiesTable.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/CommunitiesTable/CommunitiesTable.tsx
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Update thematic
  packages/components/package.json
  packages/components/src/NumericDomainEditor/NumericDomainEditor.tsx
  packages/hooks/package.json
  packages/hooks/src/useThematicColorScale.ts
  packages/types/package.json
  packages/webapp/package.json
  packages/webapp/src/state/settings.ts
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Update prettier config
  package.json
  yarn.lock
Due: yarn essex prettify --staged

Update lint config and run it
  package.json
  packages/hooks/src/useThematicColorScale.ts
  packages/webapp/package.json
  packages/webapp/src/App/StyleContext.tsx
  packages/webapp/src/hooks/files.ts
  packages/webapp/src/pages/GraphViewerPage/components/CommunitiesTable/CommunitiesTable.hooks.ts
  packages/webapp/src/state/settings.ts
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Small styles
  packages/components/package.json
  packages/components/src/ColorSelector/FixedPicker.tsx
  packages/components/src/ColorSelector/ScaledPicker.tsx
  packages/components/src/DomainBrush/DomainBrush.tsx
  packages/components/src/DomainBrush/LegendAxis.tsx
  packages/components/src/HeaderLegend/HeaderLegend.tsx
  packages/components/src/NominalLegend/NominalLegend.tsx
  packages/components/src/NumericDomainEditor/NumericDomainEditor.tsx
  packages/components/src/NumericRangeEditor/NumericRangeEditor.tsx
  packages/components/src/NumericSelector/FixedPicker.tsx
  packages/components/src/NumericSelector/ScaledPicker.tsx
  packages/components/src/ToggleHeader/ToggleHeader.tsx
  packages/components/src/styles.ts
  packages/webapp/package.json
  packages/webapp/src/App/components/CommandBar/modals/UploadModal.tsx
  packages/webapp/src/components/QuickDrop/QuickDrop.tsx
  packages/webapp/src/pages/DataManagerPage/components/MainPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/ColumnEditor/ColumnEditor.tsx
  packages/webapp/src/pages/GraphViewerPage/components/ColumnEditor/ColumnEditorRow.tsx
  packages/webapp/src/pages/GraphViewerPage/components/LeftSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/ColumnEditorPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/HierarchyNav.css
  packages/webapp/src/pages/GraphViewerPage/components/panels/HierarchyNav.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/Layout.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/UmapLayout.tsx
  packages/webapp/src/state/vis/edgeOpacity.ts
  packages/webapp/src/styles/fluent.ts
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged
