Repository microsoft/graph-drilldown: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

.lintstagedrc.json:

{
	"*": ["yarn essex prettify --staged"],
	"*.md": ["yarn essex lint --docs-only"],
	"*.{js,jsx,ts,tsx}": ["yarn essex lint --fix --staged"]
}

fix codeql
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: yarn essex prettify --staged

add permission
  .github/workflows/codeql.yml
Due: yarn essex prettify --staged

ignore paths
  .github/codeql/codeql-config.yml
Due: yarn essex prettify --staged

fix graphql workflow (#44)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: yarn essex prettify --staged

re-deploy fixes
  .github/workflows/docsite.yml
  packages/webapp/src/App/App.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Deploying to gh-pages from @ microsoft/graph-drilldown@44b508ba8f04cf758144efba36161165d19dcfd8 🚀
  index.html
  main.b228213183d0823a964d.css.map
  main.b228213183d0823a964d.js.map
  main.e3043adfa9c111223fb6.css
  main.e3043adfa9c111223fb6.css.map
  main.e3043adfa9c111223fb6.js
  main.e3043adfa9c111223fb6.js.LICENSE.txt
  main.e3043adfa9c111223fb6.js.map
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

add meta tags
  packages/webapp/src/index.ejs
Due: yarn essex prettify --staged

re-do branchs on push
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

remove console log
  packages/webapp/src/App/App.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

reset app.tsx
  packages/webapp/src/App/App.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

add meta tags for doc site security (#53)
  .github/workflows/docsite.yml
  packages/webapp/src/index.ejs
Due: yarn essex prettify --staged

Deploying to gh-pages from @ microsoft/graph-drilldown@4092081a835e7d62807fe8c948d4218e7b548e2f 🚀
  index.html
  main.e3043adfa9c111223fb6.css.map
  main.e3043adfa9c111223fb6.js.map
  main.f4de16e7175a5df982f0.css
  main.f4de16e7175a5df982f0.css.map
  main.f4de16e7175a5df982f0.js
  main.f4de16e7175a5df982f0.js.LICENSE.txt
  main.f4de16e7175a5df982f0.js.map
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Update README to indicate repository status
  README.md
Due: yarn essex prettify --staged, yarn essex lint --docs-only

Clean up README by removing image tag
  README.md
Due: yarn essex prettify --staged, yarn essex lint --docs-only
