Repository microsoft/graph-drilldown: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

.lintstagedrc.json:

{
	"*": ["yarn essex prettify --staged"],
	"*.md": ["yarn essex lint --docs-only"],
	"*.{js,jsx,ts,tsx}": ["yarn essex lint --fix --staged"]
}

Update deploy for monorepo structure
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

Fix ci
  .gitignore
  package.json
Due: yarn essex prettify --staged

Extract components package
  .pnp.cjs
  packages/components/docs/components.api.md
  packages/components/package.json
  packages/components/src/FileTable/FileTable.hooks.ts
  packages/components/src/FileTable/FileTable.tsx
  packages/components/src/FileTable/index.ts
  packages/components/src/index.ts
  packages/components/tsconfig.json
  packages/webapp/src/App/commands/modals/panels/FileDropPanel.tsx
  packages/webapp/src/components/FileList/FileList.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

Move ToggleHeader
  .pnp.cjs
  packages/components/docs/components.api.md
  packages/components/package.json
  packages/components/src/ToggleHeader/ToggleHeader.tsx
  packages/components/src/ToggleHeader/index.tsx
  packages/components/src/index.ts
  packages/webapp/src/pages/GraphViewerPage/SidePanel/RightSidePanel.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

Reorganize app contexts
  packages/webapp/src/App/App.tsx
  packages/webapp/src/App/DataContext.tsx
  packages/webapp/src/App/StateContext.tsx
  packages/webapp/src/App/StyleContext.tsx
  packages/webapp/src/App/components/CommandBar/ModalButtons.hooks.ts
  packages/webapp/src/App/components/CommandBar/ModalButtons.tsx
  packages/webapp/src/App/components/CommandBar/modals/ModalContainer.tsx
  packages/webapp/src/App/components/Export/Export.hooks.ts
  packages/webapp/src/App/components/Export/Export.tsx
  packages/webapp/src/App/components/Export/hooks/useCreateRenderer.tsx
  packages/webapp/src/App/components/Export/hooks/useImageSettings.ts
  packages/webapp/src/App/components/Export/hooks/useSaveImage.ts
  packages/webapp/src/index.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Lint
  package.json
  packages/components/src/HeaderLegend/HeaderLegend.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Fix path
  packages/webapp/src/App/components/Export/hooks/useCreateRenderer.tsx
  packages/webapp/src/pages/GraphViewerPage/components/GraphPanel.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Fix paths
  packages/webapp/src/App/StyleContext.tsx
  packages/webapp/src/App/components/Export/hooks/useCreateRenderer.tsx
  packages/webapp/src/components/FileDrop/FileDrop.tsx
  packages/webapp/src/components/GraphViewer/GraphViewer.tsx
  packages/webapp/src/components/QuickDrop/QuickDrop.tsx
  packages/webapp/src/hooks/graph/nodes.ts
  packages/webapp/src/hooks/graph/view.ts
  packages/webapp/src/pages/GraphViewerPage/components/GraphPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/HierarchyBrowserPanel/HierarchyBrowerPanel.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/Minimap/Minimap.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/SearchItems.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/SearchPanel.tsx
  packages/webapp/src/state/vis/view.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Fix thematic peer deps
  .pnp.cjs
  packages/components/package.json
  packages/hooks/package.json
  yarn.lock
Due: yarn essex prettify --staged

Hook cleanup
  packages/webapp/src/App/hooks/useTestFiles.ts
  packages/webapp/src/arquero/hooks.ts
  packages/webapp/src/hooks/files.ts
  packages/webapp/src/pages/GraphViewerPage/components/controls/EdgeColorControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/EdgeOpacityControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/EdgeSizeControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/Layout.tsx
  packages/webapp/src/state/files.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Refactor arquero hooks
  package.json
  packages/webapp/src/arquero/hooks.ts
  packages/webapp/src/components/QuickDrop/QuickDrop.tsx
  packages/webapp/src/hooks/files.ts
  packages/webapp/src/pages/GraphViewerPage/components/ColumnEditor/ColumnEditor.tsx
  packages/webapp/src/pages/GraphViewerPage/components/CommunitiesTable/CommunitiesTable.tsx
  packages/webapp/src/pages/GraphViewerPage/components/GraphPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/LeftSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/NodeColorControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/NodeOpacityControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/NodeSizeControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CommunityPanel.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Dep cleanup
  .pnp.cjs
  package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Switch to essex/arquero-react
  .pnp.cjs
  .yarn/cache/@data-wrangling-components-core-npm-6.1.0-15ace39662-9beeb568c8.zip
  .yarn/cache/@data-wrangling-components-guidance-npm-0.1.11-e7d341270d-cb77aa254e.zip
  .yarn/cache/@data-wrangling-components-react-npm-5.1.3-c9b36cf696-b806c63164.zip
  .yarn/cache/@data-wrangling-components-utilities-npm-1.8.2-afff1c6cb6-346375c06f.zip
  .yarn/cache/@essex-arquero-npm-1.0.0-b39cbbd26c-e226302974.zip
  .yarn/cache/@essex-arquero-react-npm-1.0.1-d10410d17f-efb0630946.zip
  .yarn/cache/@essex-charts-react-npm-1.0.0-4ee3660e84-8d60324e89.zip
  .yarn/cache/@essex-themed-components-npm-2.2.0-d18e2e9ddd-823311b350.zip
  .yarn/cache/@types-d3-array-npm-3.0.2-9c225be639-608cbdc3dc.zip
  .yarn/cache/@types-d3-axis-npm-3.0.1-7bb318c997-ac3f9f86ee.zip
  .yarn/cache/@types-d3-brush-npm-3.0.1-781dcb4473-520e6af41b.zip
  .yarn/cache/@types-d3-scale-npm-4.0.2-d42dc7112f-6b3c0337f3.zip
  .yarn/cache/@types-d3-selection-npm-3.0.2-fcb4823492-0b9e258d3a.zip
  .yarn/cache/@types-d3-time-npm-3.0.0-9b0c5b0218-e76adb056d.zip
  .yarn/cache/@types-eslint-npm-7.2.13-37f10d8e02-6dac9f9d7d.zip
  .yarn/cache/@zip.js-zip.js-npm-2.4.10-2c55b43da5-4b4f28f778.zip
  .yarn/cache/core-js-npm-3.21.1-4b064616b4-d68eddd831.zip
  .yarn/cache/d3-axis-npm-3.0.0-81ef16a9a5-227ddaa6d4.zip
  .yarn/cache/d3-brush-npm-3.0.0-0f86c8ad35-1d04216776.zip
  .yarn/cache/d3-dispatch-npm-3.0.1-5f44c3166f-fdfd4a230f.zip
  .yarn/cache/d3-drag-npm-3.0.0-cf7b48417f-d297231e60.zip
  .yarn/cache/d3-ease-npm-3.0.1-f8f3709dc7-06e2ee5326.zip
  .yarn/cache/d3-timer-npm-3.0.1-45083f465d-1cfddf86d7.zip
  .yarn/cache/d3-transition-npm-3.0.1-9191e0faaa-cb1e6e018c.zip
  .yarn/cache/file-selector-npm-0.4.0-0aefaa0d54-1c9986e94b.zip
  .yarn/cache/markdown-to-jsx-npm-7.1.7-2cb4f4a90f-b2c0ea7d09.zip
  .yarn/cache/react-dropzone-npm-12.0.5-0e111561ba-fa26bee807.zip
  .yarn/cache/rxjs-npm-7.5.5-d0546b1ccb-e034f60805.zip
  .yarn/cache/toposort-npm-2.0.2-d472329c7d-d64c74b570.zip
  packages/webapp/package.json
  packages/webapp/src/pages/DataManagerPage/components/MainPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/CommunitiesTable/CommunitiesTable.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Upgrade themed-components
  .pnp.cjs
  .yarn/cache/@essex-hooks-npm-4.0.8-3adec9e516-a86dd68df3.zip
  .yarn/cache/@essex-js-toolkit-hooks-npm-3.0.0-42a37eb3f3-691bc2de56.zip
  .yarn/cache/@essex-js-toolkit-themed-components-npm-1.2.0-ea989d6394-4c7fe7cfb3.zip
  .yarn/cache/@essex-js-toolkit-toolbox-npm-2.0.0-e2ef1a7595-807a4caa48.zip
  .yarn/cache/@essex-themed-components-npm-2.2.2-3f63129d8d-07c368ffda.zip
  .yarn/cache/@essex-toolbox-npm-3.0.6-2a0975c1fe-3c952b5c46.zip
  .yarn/cache/@types-d3-array-npm-3.0.2-9c225be639-608cbdc3dc.zip
  .yarn/cache/@types-d3-axis-npm-1.0.14-81d8a1a52a-b404d6da26.zip
  .yarn/cache/@types-d3-axis-npm-3.0.1-7bb318c997-ac3f9f86ee.zip
  .yarn/cache/@types-d3-brush-npm-1.1.4-95f75d8dd8-550c60e408.zip
  .yarn/cache/@types-d3-brush-npm-3.0.1-781dcb4473-520e6af41b.zip
  .yarn/cache/@types-d3-scale-npm-2.2.4-4627eb978b-225001c454.zip
  .yarn/cache/@types-d3-scale-npm-4.0.2-d42dc7112f-6b3c0337f3.zip
  .yarn/cache/@types-d3-selection-npm-1.4.3-114c1bd56a-6ab11ac517.zip
  .yarn/cache/@types-d3-selection-npm-3.0.2-fcb4823492-0b9e258d3a.zip
  .yarn/cache/@types-d3-time-npm-3.0.0-9b0c5b0218-e76adb056d.zip
  .yarn/cache/d3-axis-npm-3.0.0-81ef16a9a5-227ddaa6d4.zip
  .yarn/cache/d3-brush-npm-1.1.6-d408d02971-ffa23a5543.zip
  .yarn/cache/d3-brush-npm-3.0.0-0f86c8ad35-1d04216776.zip
  .yarn/cache/d3-color-npm-1.4.1-cd6dccad72-a214b61458.zip
  .yarn/cache/d3-dispatch-npm-1.0.6-afea222924-b4ecb016b6.zip
  .yarn/cache/d3-dispatch-npm-3.0.1-5f44c3166f-fdfd4a230f.zip
  .yarn/cache/d3-drag-npm-1.2.5-79f667b0ea-6e86e89aa8.zip
  .yarn/cache/d3-drag-npm-3.0.0-cf7b48417f-d297231e60.zip
  .yarn/cache/d3-ease-npm-1.0.7-756ddc480a-117811d51d.zip
  .yarn/cache/d3-ease-npm-3.0.1-f8f3709dc7-06e2ee5326.zip
  .yarn/cache/d3-interpolate-npm-1.4.0-694efcdd27-d98988bd1e.zip
  .yarn/cache/d3-timer-npm-1.0.10-af1ad28ff9-f704095367.zip
  .yarn/cache/d3-timer-npm-3.0.1-45083f465d-1cfddf86d7.zip
  .yarn/cache/d3-transition-npm-1.3.2-f851312368-1b4a0cfa7a.zip
  .yarn/cache/d3-transition-npm-3.0.1-9191e0faaa-cb1e6e018c.zip
  .yarn/cache/react-animate-height-npm-2.1.1-903eac0ba9-e15c845ef7.zip
  packages/webapp/package.json
  packages/webapp/src/App/components/Export/ImageSettings.tsx
  packages/webapp/src/App/components/Features.tsx
  packages/webapp/src/App/components/Settings.tsx
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/SearchPanel.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Update essex hooks
  .pnp.cjs
  .yarn/cache/@essex-js-toolkit-hooks-npm-4.0.3-27a7143692-112b417dea.zip
  .yarn/cache/@essex-js-toolkit-toolbox-npm-2.0.1-6c9ee39507-b229029ccd.zip
  .yarn/cache/@essex-js-toolkit-toolbox-npm-3.0.1-c3c0ba1acd-24b864ce18.zip
  .yarn/cache/core-js-npm-3.15.1-34114c2fbc-d44c1099b4.zip
  packages/arquero/docs/arquero.api.md
  packages/arquero/package.json
  packages/arquero/src/util.ts
  packages/components/package.json
  packages/components/src/DomainBrush/DomainBrush.tsx
  packages/components/src/NominalLegend/NominalLegend.tsx
  packages/hooks/package.json
  packages/webapp/package.json
  packages/webapp/src/App/components/Footer/Footer.tsx
  packages/webapp/src/pages/GraphViewerPage/components/LeftSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/hooks/useGraphDimensions.ts
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

Revert "Upgrade themed-components"
  .pnp.cjs
  .yarn/cache/@essex-js-toolkit-hooks-npm-3.1.0-89e4150d45-9000b1b327.zip
  .yarn/cache/@essex-js-toolkit-themed-components-npm-1.4.0-e6d145cfa4-f77c1b52bc.zip
  .yarn/cache/@essex-js-toolkit-toolbox-npm-2.0.3-a6bac96d79-515d7f7ce2.zip
  .yarn/cache/@essex-themed-components-npm-2.2.2-3f63129d8d-07c368ffda.zip
  .yarn/cache/core-js-npm-3.22.0-9a29e3a96f-88ac28dfb8.zip
  .yarn/cache/react-animate-height-npm-2.1.1-903eac0ba9-e15c845ef7.zip
  packages/webapp/package.json
  packages/webapp/src/App/components/Export/ImageSettings.tsx
  packages/webapp/src/App/components/Features.tsx
  packages/webapp/src/App/components/Settings.tsx
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/SearchPanel.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Update hierarchy-browser
  .pnp.cjs
  .yarn/cache/@emotion-is-prop-valid-npm-1.1.2-fba2bc1e57-58b1f2d429.zip
  .yarn/cache/@emotion-memoize-npm-0.7.5-e5e7e9eeca-83da8d4a76.zip
  .yarn/cache/@essex-hierarchy-browser-npm-4.0.7-8f0bb20334-0f24cc0b63.zip
  .yarn/cache/@essex-js-toolkit-hierarchy-browser-npm-3.0.1-ca53c2551a-fdc1e8ac93.zip
  .yarn/cache/react-infinite-scroller-npm-1.2.6-e6206a2b69-5f5aae76c4.zip
  .yarn/cache/styled-components-npm-5.3.5-88e3937b59-05a664dfe4.zip
  packages/webapp/package.json
  packages/webapp/src/pages/GraphViewerPage/components/HierarchyBrowserPanel/HierarchyBrowerPanel.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/HierarchyBrowserPanel/HierarchyBrowserPanel.tsx
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Latest working themed-components
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Refactor search component
  packages/arquero/docs/arquero.api.md
  packages/arquero/src/TableCollection.ts
  packages/components/src/ToggleHeader/ToggleHeader.tsx
  packages/webapp/src/arquero/hooks.ts
  packages/webapp/src/hooks/communities.ts
  packages/webapp/src/pages/GraphViewerPage/components/CommunityList/CommunityList.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/CommunityList/CommunityList.tsx
  packages/webapp/src/pages/GraphViewerPage/components/CommunityList/hooks/useColumns.ts
  packages/webapp/src/pages/GraphViewerPage/components/CommunityList/hooks/useDynamicColumn.ts
  packages/webapp/src/pages/GraphViewerPage/components/CommunityList/hooks/useSortHandling.ts
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/SearchPanelHeader.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/SearchResults.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/SearchResultsHeader.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/SearchItems.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/SearchPanel.tsx
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

SearchController experiment
  packages/webapp/src/controllers/SearchController.ts
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Update essex deps
  .pnp.cjs
  .yarn/cache/@essex-arquero-react-npm-1.0.1-d10410d17f-efb0630946.zip
  .yarn/cache/@essex-arquero-react-npm-1.0.2-b445a87a37-fb1427ba7e.zip
  .yarn/cache/@essex-charts-react-npm-1.0.0-4ee3660e84-8d60324e89.zip
  .yarn/cache/@essex-charts-react-npm-1.0.1-3a163af863-9eeeb5a8f5.zip
  .yarn/cache/@essex-hooks-npm-4.0.9-d8b50caf2b-b2c0846f1b.zip
  package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Update thematic
  .pnp.cjs
  .yarn/cache/@essex-hooks-npm-4.0.6-e48cda7a51-9abdb73351.zip
  .yarn/cache/@essex-toolbox-npm-3.0.4-1ff2577231-f93bcd7947.zip
  .yarn/cache/@thematic-color-npm-2.0.6-3a6331669a-f6dc37f74b.zip
  .yarn/cache/@thematic-color-npm-2.0.7-132f027edf-c7f4708236.zip
  .yarn/cache/@thematic-core-npm-2.0.6-876e2f9a4e-d5740d0329.zip
  .yarn/cache/@thematic-core-npm-2.0.7-f3a3245766-4f35fe3edd.zip
  .yarn/cache/@thematic-d3-npm-2.0.6-8a6bdd5dde-ab502d5e84.zip
  .yarn/cache/@thematic-d3-npm-2.0.7-c1cd9f067c-d58e07eefb.zip
  .yarn/cache/@thematic-fluent-npm-3.0.6-74af0678b1-fc7aff0458.zip
  .yarn/cache/@thematic-fluent-npm-3.0.7-23ed8e6be7-9cd9aeec03.zip
  .yarn/cache/@thematic-react-npm-2.0.6-799b7bc985-e9df15756a.zip
  .yarn/cache/@thematic-react-npm-2.0.7-19172ee464-0e2d1145d7.zip
  packages/components/package.json
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Fix d3 deps
  .pnp.cjs
  .yarn/cache/@types-d3-array-npm-2.12.0-7b940d2dc0-f84cb309d6.zip
  packages/hooks/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Bump d3 v3
  .pnp.cjs
  .yarn/cache/@types-d3-brush-npm-2.1.2-4fb913f4ab-44bb9f845b.zip
  .yarn/cache/@types-d3-dsv-npm-1.2.1-9b13b7e4ff-62e2711285.zip
  .yarn/cache/@types-d3-dsv-npm-3.0.0-72076c0a16-f145219dae.zip
  .yarn/cache/@types-d3-format-npm-1.4.1-1e70ed9057-aa2a3019ed.zip
  .yarn/cache/@types-d3-format-npm-3.0.1-1b079419e7-6819fae7e7.zip
  .yarn/cache/@types-d3-scale-npm-2.2.6-d18cd56795-ba4bd7e099.zip
  .yarn/cache/@types-d3-selection-npm-2.0.0-374acf6862-a4fe69ae9d.zip
  .yarn/cache/@types-d3-selection-npm-2.0.1-81a3e6c54d-23a337564e.zip
  .yarn/cache/@types-d3-time-npm-1.1.1-7c902f3c91-5c859a2219.zip
  .yarn/cache/d3-brush-npm-2.1.0-b62dc5c37c-35fb7e3b42.zip
  .yarn/cache/d3-dispatch-npm-2.0.0-1417ab6cc8-cf473676ae.zip
  .yarn/cache/d3-drag-npm-2.0.0-0dcad4151e-47f0bcdd09.zip
  .yarn/cache/d3-dsv-npm-1.2.0-8721ea23bf-96c6e3d5ca.zip
  .yarn/cache/d3-dsv-npm-3.0.1-5d88fb8a85-5fc0723647.zip
  .yarn/cache/d3-ease-npm-2.0.0-b648d66f09-1a9f6dfc83.zip
  .yarn/cache/d3-selection-npm-2.0.0-b10bfedd78-c00143f55d.zip
  .yarn/cache/d3-timer-npm-2.0.0-590adf27a0-70733c3baf.zip
  .yarn/cache/d3-transition-npm-2.0.0-580e508660-8f29d195ad.zip
  .yarn/cache/iconv-lite-npm-0.6.3-24b8aae27e-3f60d47a5c.zip
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Update misc minor deps
  .pnp.cjs
  .yarn/cache/@ahooksjs-use-request-npm-2.8.15-be16079c9f-de11f7e421.zip
  .yarn/cache/@ahooksjs-use-request-npm-2.8.7-907831b295-00adeca37a.zip
  .yarn/cache/@emotion-is-prop-valid-npm-0.8.8-261a0f2426-bb7ec6d48c.zip
  .yarn/cache/@emotion-memoize-npm-0.7.4-5648cf11b8-4e3920d4ec.zip
  .yarn/cache/@jest-types-npm-24.9.0-d3aae63b88-603698f774.zip
  .yarn/cache/@types-istanbul-reports-npm-1.1.2-4f435a3d0f-00866e815d.zip
  .yarn/cache/@types-jest-npm-24.9.1-c1de6578fe-eb6b3e177b.zip
  .yarn/cache/@types-node-npm-14.18.13-2a708b4d90-307cd26bd6.zip
  .yarn/cache/@types-prettier-npm-2.3.0-b1be4bd841-8dd9b5263f.zip
  .yarn/cache/@types-prettier-npm-2.6.0-68db36c8c1-946f1f82ce.zip
  .yarn/cache/@types-query-string-npm-6.2.0-8028e3ee1f-ea43cea9cf.zip
  .yarn/cache/@types-query-string-npm-6.3.0-184c315c53-7d507aea24.zip
  .yarn/cache/@types-styled-components-npm-5.1.25-c6ef913a87-60ce64f132.zip
  .yarn/cache/@types-styled-components-npm-5.1.9-21434b5cd5-99b5e069a0.zip
  .yarn/cache/@types-yargs-npm-13.0.11-8fa4e6dc51-efcbcccd20.zip
  .yarn/cache/ahooks-npm-2.10.14-c8fe72fddd-bf58e7b7b0.zip
  .yarn/cache/ahooks-npm-2.10.6-c93bd19382-b4560c20cb.zip
  .yarn/cache/diff-sequences-npm-24.9.0-1cf0c4cb19-b81f906ff1.zip
  .yarn/cache/hamt_plus-npm-1.0.2-67a52ee1df-af26ea32db.zip
  .yarn/cache/jest-diff-npm-24.9.0-31c04948a4-462ccb128c.zip
  .yarn/cache/jest-get-type-npm-24.9.0-18c591f6f2-821e6cd464.zip
  .yarn/cache/pretty-format-npm-24.9.0-cf0850262c-ba9291c8da.zip
  .yarn/cache/recoil-npm-0.0.13-98645fa585-466629dc52.zip
  .yarn/cache/recoil-npm-0.7.2-627eacb0da-2ad0c2052f.zip
  .yarn/cache/styled-components-npm-5.3.0-965f77d02b-19792fc00d.zip
  package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

ahooks, query-string update
  .pnp.cjs
  .yarn/cache/@ahooksjs-use-request-npm-2.8.15-be16079c9f-de11f7e421.zip
  .yarn/cache/@types-js-cookie-npm-2.2.6-dd551f922c-97c50ff6cd.zip
  .yarn/cache/@types-js-cookie-npm-2.2.7-025262d629-851f47e94c.zip
  .yarn/cache/ahooks-npm-2.10.14-c8fe72fddd-bf58e7b7b0.zip
  .yarn/cache/ahooks-npm-3.3.8-00de87391e-c646186e2f.zip
  .yarn/cache/ahooks-v3-count-npm-1.0.0-6e2b8385ab-3974d94b7c.zip
  .yarn/cache/intersection-observer-npm-0.12.0-5917d76e28-96d2f3ea49.zip
  .yarn/cache/intersection-observer-npm-0.7.0-cf93325852-e1bf9c15ec.zip
  .yarn/cache/lodash.throttle-npm-4.1.1-856641af92-129c0a28ce.zip
  .yarn/cache/query-string-npm-6.14.1-dad16e37e6-f2c7347578.zip
  packages/components/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Basic react 18 update
  .pnp.cjs
  .yarn/cache/@types-react-dom-npm-16.9.14-758ab4d1e1-68a4ee88f7.zip
  .yarn/cache/@types-react-dom-npm-18.0.1-3444453ba7-6c183e2e50.zip
  .yarn/cache/@types-react-npm-16.14.21-7ae562f957-9660ea0a2c.zip
  .yarn/cache/@types-react-npm-16.14.25-356b2d635b-3a06cf26f2.zip
  .yarn/cache/react-dom-npm-17.0.2-f551215af1-1c1eaa3bca.zip
  .yarn/cache/react-npm-17.0.2-99ba37d931-b254cc17ce.zip
  .yarn/cache/scheduler-npm-0.20.2-90beaecfba-c4b35cf967.zip
  package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/webapp/package.json
  packages/webapp/src/App/App.tsx
  packages/webapp/src/App/DataContext.tsx
  packages/webapp/src/App/StateContext.tsx
  packages/webapp/src/App/StyleContext.tsx
  packages/webapp/src/App/components/Footer/Footer.tsx
  packages/webapp/src/components/GraphViewer/GraphViewer.tsx
  packages/webapp/src/components/LazyCachingSwitch.tsx
  packages/webapp/src/components/RouterLinkIconButton.tsx
  packages/webapp/src/pages/GraphViewerPage/components/Minimap/Minimap.tsx
  packages/webapp/src/pages/GraphViewerPage/components/ResizableBrowser.tsx
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.tsx
  packages/webapp/src/react-patch/graspologic.ts
  packages/webapp/src/react-patch/react-router-dom.ts
  packages/webapp/src/react-patch/styled-components.ts
  packages/webapp/src/react-patch/themed-components.ts
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Fix community dep
  packages/webapp/src/App/App.tsx
  packages/webapp/src/App/DataContext.tsx
  packages/webapp/src/App/StateContext.tsx
  packages/webapp/src/App/StyleContext.tsx
  packages/webapp/src/App/components/Footer/Footer.tsx
  packages/webapp/src/components/GraphViewer/GraphViewer.tsx
  packages/webapp/src/pages/GraphViewerPage/components/Minimap/Minimap.tsx
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.tsx
  packages/webapp/src/react-patch/graspologic.ts
  packages/webapp/src/react-patch/react-router-dom.ts
  packages/webapp/src/react-patch/styled-components.ts
  packages/webapp/src/react-patch/themed-components.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Clean up ColumnEditor
  packages/arquero/docs/arquero.api.md
  packages/arquero/src/table.ts
  packages/hooks/docs/arquero.api.md
  packages/types/docs/types.api.md
  packages/types/docsTemp/types.api.md
  packages/types/src/data.ts
  packages/webapp/src/arquero/hooks.ts
  packages/webapp/src/components/GraphViewer/GraphViewer.tsx
  packages/webapp/src/hooks/useSelection.ts
  packages/webapp/src/pages/GraphViewerPage/components/ColumnEditor/ColumnEditor.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/ColumnEditor/ColumnEditor.tsx
  packages/webapp/src/pages/GraphViewerPage/components/ColumnEditor/ColumnEditorRow.tsx
  packages/webapp/src/pages/GraphViewerPage/components/GraphPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/LeftSidePanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/SearchResults.tsx
  packages/webapp/src/state/nodes.ts
  packages/webapp/src/state/settings.ts
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged
