Repository microsoft/graph-drilldown: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

.lintstagedrc.json:

{
	"*": ["yarn essex prettify --staged"],
	"*.md": ["yarn essex lint --docs-only"],
	"*.{js,jsx,ts,tsx}": ["yarn essex lint --fix --staged"]
}

Remove broken 16.x build
  .github/workflows/ci.yml
Due: yarn essex prettify --staged

Remove redundant nominal legend
  .github/workflows/ci.yml
  packages/components/src/ColorSelector/ScaledPicker.tsx
  packages/components/src/NominalLegend/NominalLegend.tsx
  packages/components/src/NominalLegend/VerticalNominalChips.tsx
  packages/components/src/NominalLegend/index.ts
  packages/components/src/NumericSelector/FixedPicker.tsx
  packages/components/src/index.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Smaller side panel
  packages/components/src/HeaderLegend/HeaderLegend.tsx
  packages/webapp/src/components/FileDrop/FileDrop.tsx
  packages/webapp/src/components/QuickDrop/QuickDrop.tsx
  packages/webapp/src/pages/GraphViewerPage/components/CommunityList/CommunityList.styles.ts
  packages/webapp/src/pages/GraphViewerPage/components/RightSidePanel.tsx
  packages/webapp/src/styles/fluent.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Various style polish
  packages/components/docs/components.api.md
  packages/components/src/ColorSelector/ColorSelector.tsx
  packages/components/src/NumericSelector/NumericSelector.tsx
  packages/components/src/styles.ts
  packages/webapp/src/pages/GraphViewerPage/components/controls/EdgeOpacityControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/EdgeSizeControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/NodeOpacityControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/controls/NodeSizeControls.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/SearchResults.tsx
  packages/webapp/src/styles/fluent.ts
Due: yarn essex prettify --staged, yarn essex lint --docs-only, yarn essex lint --fix --staged

Fix ci syntax typo
  .github/workflows/ci.yml
Due: yarn essex prettify --staged

Bump essex-toolkit and update styles to match
  package.json
  packages/arquero/package.json
  packages/components/package.json
  packages/components/src/ColorSelector/ColorSelector.tsx
  packages/components/src/DomainBrush/DomainBrush.tsx
  packages/components/src/NumericDomainEditor/NumericDomainEditor.tsx
  packages/components/src/NumericRangeEditor/NumericRangeEditor.tsx
  packages/components/src/NumericSelector/NumericSelector.tsx
  packages/components/src/styles.ts
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  packages/webapp/src/App/components/CommandBar/modals/UploadModal.tsx
  packages/webapp/src/components/QuickDrop/QuickDrop.tsx
  packages/webapp/src/pages/DataManagerPage/components/MainPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/SearchResults.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/ColumnEditorPanel.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/Layout.tsx
  packages/webapp/src/styles/fluent.ts
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Bump thematic
  packages/components/package.json
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Fix CollapsiblePanel props
  packages/webapp/src/components/FileDrop/FileDrop.tsx
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.hooks.ts
  packages/webapp/src/pages/GraphViewerPage/components/panels/CollapsibleSearchPanel/CollapsibleSearchPanel.tsx
  packages/webapp/src/styles/fluent.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Rebuild
  yarn.lock
Due: yarn essex prettify --staged

Bump back to node 16
  .github/workflows/ci.yml
Due: yarn essex prettify --staged

Bump datashaper
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

Rebuild yarn lock
  yarn.lock
Due: yarn essex prettify --staged

Rebuild yarn.lock
  .devcontainer/yarn.lock
  yarn.lock
Due: yarn essex prettify --staged

Use node 14
  .github/workflows/ci.yml
Due: yarn essex prettify --staged

Update codespaces
  .devcontainer/devcontainer.json
  .devcontainer/yarn.lock
Due: yarn essex prettify --staged

Dep bumps
  package.json
  packages/arquero/package.json
  packages/arquero/tsconfig.json
  packages/components/package.json
  packages/components/tsconfig.json
  packages/hooks/package.json
  packages/hooks/src/scales.ts
  packages/hooks/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/webapp/package.json
  packages/webapp/tsconfig.json
  tsconfig.json
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

use node 18
  .github/workflows/ci.yml
Due: yarn essex prettify --staged

yarn update_sdks
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  rome.json
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

remove prettier
  .devcontainer/devcontainer.json
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

remove prettier sdks
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

update docsite workflow
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

fix graph render issueA
  packages/webapp/src/components/GraphViewer/GraphViewer.tsx
  packages/webapp/src/hooks/graph/nodes.ts
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

update some libraries
  package.json
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  yarn.lock
Due: yarn essex prettify --staged

version updates
  packages/arquero/package.json
  packages/components/package.json
  packages/hooks/package.json
  packages/types/package.json
  yarn.lock
Due: yarn essex prettify --staged

thematic update
  packages/components/package.json
  packages/components/src/NumericDomainEditor/NumericDomainEditor.tsx
  packages/hooks/package.json
  packages/types/package.json
  packages/webapp/package.json
  packages/webapp/src/state/settings.ts
  yarn.lock
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Deploying to gh-pages from @ microsoft/graph-drilldown@27af20d3a2fdbf421f21137defee544b249e06da 🚀
  index.html
  main.6a0b6c2a41f1b067ed97.css.map
  main.6a0b6c2a41f1b067ed97.js
  main.6a0b6c2a41f1b067ed97.js.map
  main.6c192c835bdf0c57afd7.css
  main.6c192c835bdf0c57afd7.css.map
  main.6c192c835bdf0c57afd7.js
  main.6c192c835bdf0c57afd7.js.LICENSE.txt
  main.6c192c835bdf0c57afd7.js.map
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

ci: Use GITHUB_OUTPUT envvar instead of set-output command
  .github/workflows/ci.yml
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

Add health privacy footer
  packages/webapp/src/App/components/Footer/Footer.tsx
  packages/webapp/src/pages/DataManagerPage/DataManagerPage.tsx
  packages/webapp/src/pages/GraphViewerPage/GraphViewerPage.tsx
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

Patch gh-pages permissions
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

Deploying to gh-pages from @ microsoft/graph-drilldown@036decf173193f24f9d2e1b81d8d61fdd971e1f5 🚀
  index.html
  main.6c192c835bdf0c57afd7.css.map
  main.6c192c835bdf0c57afd7.js.map
  main.b228213183d0823a964d.css
  main.b228213183d0823a964d.css.map
  main.b228213183d0823a964d.js
  main.b228213183d0823a964d.js.LICENSE.txt
  main.b228213183d0823a964d.js.map
Due: yarn essex prettify --staged, yarn essex lint --fix --staged

ci: Use GITHUB_OUTPUT envvar instead of set-output command (#41)
  .github/workflows/ci.yml
  .github/workflows/docsite.yml
Due: yarn essex prettify --staged

update graphql version
  .github/workflows/codeql.yml
Due: yarn essex prettify --staged

fix path
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: yarn essex prettify --staged

fix config file path
  .github/workflows/codeql.yml
Due: yarn essex prettify --staged

remove codeql workflow (automatic by github)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: yarn essex prettify --staged

codeql workflow without config file
  .github/workflows/codeql.yml
Due: yarn essex prettify --staged
